h1 Create a New Portfolio item

=form_for @portfolio_item do |f|

  div class="field"

    =f.label :title
    =f.text_field :title

    =f.label :subtitle
    =f.text_field :subtitle

    =f.label :body
    =f.text_field :body

    =f.submit "Create item"


